<div class="col-12 col-md-4 mb-3">
  <h3>Create New Ticket</h3>
  <div class="input-group mb-2">
    <input [(ngModel)]="newTaskTitle" type="text" class="form-control" placeholder="Enter Ticket Title">
  </div>
  <div class="input-group mb-2">
    <input [(ngModel)]="newTaskDescription" type="text" class="form-control" placeholder="Enter Ticket Description">
  </div>
  <div class="input-group mb-2">
    <select [(ngModel)]="newTaskStatus" class="form-select">
      <option *ngFor="let status of statuses" [value]="status">{{ status }}</option>
    </select>
  </div>
  <div class="input-group mb-2">
    <input type="file" class="form-control" (change)="onFileSelected($event)">
  </div>
  <button class="btn btn-success w-100" (click)="createTicket()">Create Ticket</button>
</div>
