
<!-- New Task Form Row -->
<div class="row">
  <div class="col-md-3">
    <div class="task-form card p-3 shadow-sm">
      <h3 class="text-center">Create New Task</h3>
      <input class="form-control mb-2" type="text" placeholder="Title" [(ngModel)]="newTicket.title">
      <textarea class="form-control mb-2" placeholder="Description" [(ngModel)]="newTicket.description"></textarea>
      <input class="form-control mb-2" type="file" (change)="onFileSelected($event)">
      <button class="btn btn-primary w-100" (click)="createTicket()">Create</button>
    </div>
  </div>
</div>