<div *ngIf="currentUser.role === 'admin'" class="user-management">
  <h3>User Management (Admin Only)</h3>
  <table>
    <thead>
      <tr>
        <th>ownerId </th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.ownerId  }}</td>
        <td>{{ user.role }}</td>
        <td>
          <button (click)="editUser(user)">Edit</button>
          <button (click)="deleteUser(user.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
